@model SegaSaturn
<style>
    .all {
     z-index: 1;
     position: fixed;
     width: 500px;
     height: 200px;
     padding: 10px;
     top: 5%;
     left: 9%;
     margin-top: -100px;  
     margin-left: -250px;  
     pointer-events: none;
     
     
    }
</style>

<div class="all">
    <img src="~/images/background4a.png" />

</div>

<h2>Create a New Game</h2>

@using (Html.BeginForm("InsertProductToDatabase", "SegaSaturn", "Post"))
{
    <input asp-for="ID" type="hidden" value="" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="" />

    <label asp-for="Developer" class="control-label">Developer</label>
    <input type="text" name="Developer" class="form-control" value="" />

    <label asp-for="Publisher" class="control-label">Publisher</label>
    <input type="text" name="Publisher" class="form-control" value="" />

    <label asp-for="Genre" class="control-label">Genre</label>
    <input type="text" name="Genre" class="form-control" value="" />

    <label asp-for="Rating" class="control-label">Rating</label>
    <input type="text" name="Rating" class="form-control" value="" />

    <label asp-for="NumberOfPlayers" class="control-label">NumberOfPlayers</label>
    <input type="number" step="1.00" name="NumberOfPlayers" class="form-control" />

    <label asp-for="ReleaseDate" class="control-label">ReleaseDate</label>
    <input type="text" name="ReleaseDate" class="form-control" value="" />

    <br/>

    

    <input type="submit" value="Create Product" class="btn btn-primary" />
}
